<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/styleShow.css"/>
    <title>Document</title>
</head>
<body id ="showPage">
  <section id="show-page">
    <h1><%=languages.language%></h1>
  </section>
  <br><br>
   <section>
     <h1>Details:</h1>
    <div><%=languages.details%></div>
   </section> 
  
    <% if (user) { %>
      <h3>Add phrase</h3>
      <form id="newPhrase"  method="POST" action="/languages/<%= languages._id %>/phrase">
        <input name="phrase" type="text" value="phrase">
        <input name ="translation "type="text" value="translation">
        <input type="submit" value="Add Phrase/Translation" >
      </form>
    <% } %>     
    <% if (languages.phrases) { %>
      <table>
        <thead>
          <tr>
            <th>Phrase Translation</th> 
          </tr>
        </thead>
        <tbody>
          <% languages.phrases.forEach(function(p) { %>
            <tr>
              <td><%= p.phrase %></td>
              <td><%= p.translation%></td>
              <td> 
            </tr>
          <% }); %>
        </tbody>
      </table>
    <% } else { %>
      <h5>No Phrases Yet</h5>
    <% } %>
    

</body>
</html>